* {
  font-family: Open Sans, sans-serif;
  color: #E0FBFC;
  text-align: center;
  animation: fadein 1s;
}

*:not(head) {
  display: inline-block;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

body {
  background-color: #3D5A80;
  margin: 0;
  padding: 0;
}

button, input {
  background-color: #2D425E;
  margin-top: 20px;
  border: none;
}

button:hover {
  background-color: Crimson;
}
